@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
}

.nav-div{
  display: flex;
}

.logo-div{
  width: 10%;
  margin: 5vh 7vw;
}

.logo{
  width: 100%;
}

.nav-bar{
  margin: 3vh 0 0 28vw;
  height: fit-content;
  width: 40%;
}

.nav-bar ul{
  display: flex;
  list-style: none;
}

.nav-bar ul li{
  padding: 1.5vh 1.5vw;
}

.nav-bar ul li:hover{
  color: hsl(0, 94%, 66%);
  cursor: pointer;
}

.nav-btn{
  height: 6vh;
  width: 100%;
  margin: 0 3vw;
  border: none;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background: hsl(0, 94%, 66%);
}

.nav-btn:hover{
  background: hsl(0, 0%, 100%);
  color: hsl(0, 94%, 66%);
  border: 2px solid hsl(0, 94%, 66%);
  font-weight: bold;
  cursor: pointer;
}

.hambuger-menu{
  width: 2%;
  height: fit-content;
  margin: 5vh 0;
  display: none;
}

.buger{
  width: 100%;
}

.holder-1{
  display: flex;
  margin: 10vh auto 0;
}

.writeup1{
  width: 50%;
}

.writeup1 h1{
  width: 80%;
  font-size: 3rem;
  margin: 8vh 6vw 0;
}

.writeup1 p{
  width: 70%;
  margin: 3vh 6vw 5vh;
  line-height: 150%;
  color: hsl(229, 8%, 60%);
}

.chrome-btn{
  margin: 0 1vw 0 6vw;
  height: 6vh;
  width: 20%;
  border-radius: 5px;
  border: none;
  color: hsl(0, 0%, 100%);
  background: hsl(231, 69%, 60%);
  font-weight: bold;
}

.chrome-btn:hover{
  background: hsl(0, 0%, 100%);
  border: 2px solid hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
  cursor: pointer;
  font-weight: bold;
}

.firefox-btn{
  height: 6vh;
  width: 20%;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px 0.1px hsla(0, 0%, 0%, 0.3);
  font-weight: bold;
}

.firefox-btn:hover{
  background: hsl(0, 0%, 100%);
  border: 2px solid hsl(229, 31%, 21%);
  color: hsl(229, 31%, 21%);
  font-weight: bold;
  cursor: pointer;
}

.mockup-1_1{
  display: none;
}

.mockup-1{
  width: 50%;
  margin: 0 5vw 0 0;
}

.hero-img{
  width: 100%;
}

.blue-bar{
  background: hsl(231, 69%, 60%);
  height: 50vh;
  width: 74.8%;
  margin: -46vh 0 0 16.8vw;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
}

.sub-main{
  width: 50%;
  margin: 15vh auto 5vh;
  text-align: center;
}

.sub-main h1{
  margin: 0 auto 3vh;
  font-weight: bold;
}

.sub-main p{
  width: 70%;
  margin: 0 auto;
  line-height: 150%;
  color: hsl(229, 8%, 60%);
}

.mytabs{
  display: flex;
  flex-wrap: wrap;
}

.tab{
  margin: 5vh auto 0;
}

.mytabs label:hover{
  cursor: pointer;
}

.slide-1{
  display: flex;
}

.slide-2{
  display: flex;
}

.slide-3{
  display: flex;
}

.mockup-tab{
  width: 40%;
  margin: 0 0 0 10vw;
}

.tab-img{
  width: 100%;
}

.tab-bar{
  background: hsl(231, 69%, 60%);
  height: 50vh;
  width: 100%;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  margin: -35vh 0 0 -10vw;
}

.writeup-tab{
  width: 60%;
}

.writeup-tab h1{
  font-weight: bold;
  margin: 8vh 10vw 3vh;
}

.writeup-tab p{
  width: 55%;
  margin: 0 10vw 0;
  line-height: 150%;
}

.tab-btn{
  margin: 4vh 10vw;
  height: 6vh;
  width: 15%;
  background: hsl(231, 69%, 60%);
  border: none;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}

.tab-btn:hover{
  cursor: pointer;
}

.mover{
  margin-left: 30vw;
}

.mytabs input[type="radio"]{
  display: none;
}

.mytabs label{
  padding: 1.5vh 1.5vw;
  border-bottom: 1px solid hsl(229, 8%, 60%);
}

.mytabs .tab{
  width: 100%;
  order: 1;
  display: none;
}

.mytabs input[type="radio"]:checked + label + .tab{
  display: block;
}

.mytabs input[type="radio"]:checked + label{
  border-bottom: 3px solid red;
}

.mytabs input[type="radio"] + label:hover{
  color: hsl(0, 94%, 66%);
}

.sub-main2{
  margin: 20vh 0 0;
}

.sub-main2 h1{
  width: fit-content;
  margin: 0 auto;
}

.sub-main2 p{
  width: 36%;
  text-align: center;
  margin: 2vh auto 0;
  line-height: 140%;
  color: hsl(229, 8%, 60%);
}

.holder-2_flex{
  display: flex;
}

.dots{
  width: 100%;
}

.flex-box_1{
  border-radius: 15px;
  box-shadow: 0 6px 10px 0.2px hsla(229, 79%, 78%, 0.524);
  width: 24%;
  margin: 10vh 0 30vh 10vw;
}

.flex-logo_1{
  margin: 4vh 7vw;
  width: 40%;
}

.flex-box_1 h3{
  width: fit-content;
  margin: 1vh auto 3vh;
}

.flex-box_1 p{
  width: fit-content;
  margin: 0 auto 3vh;
}

.flex-box_1 button{
  margin: 3vh 0 4vh 2.5vw;
  height: 6vh;
  width: 80%;
  background: hsl(231, 69%, 60%);
  border: none;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}

.flex-box_1 button:hover{
  background: hsl(0, 0%, 100%);
  border: 2px solid hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
  font-weight: bold;
  cursor: pointer;
}

.flex-box_2{
  border-radius: 15px;
  box-shadow: 0 6px 10px 0.2px hsla(229, 79%, 78%, 0.524);
  width: 24%;
  margin: 20vh 0 10vw 3vw;
}

.flex-logo_2{
  margin: 4vh 7vw;
  width: 40%;
}

.flex-box_2 h3{
  width: fit-content;
  margin: 1vh auto 3vh;
}

.flex-box_2 p{
  width: fit-content;
  margin: 0 auto 3vh;
}

.flex-box_2 button{
  margin: 3vh 0 4vh 2.5vw;
  height: 6vh;
  width: 80%;
  background: hsl(231, 69%, 60%);
  border: none;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}

.flex-box_2 button:hover{
  background: hsl(0, 0%, 100%);
  border: 2px solid hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
  font-weight: bold;
  cursor: pointer;
}

.flex-box_3{
  border-radius: 15px;
  box-shadow: 0 6px 10px 0.2px hsla(229, 79%, 78%, 0.524);
  width: 24%;
  margin: 28vh 0 10vh 3vw;
}

.flex-logo_3{
  margin: 4vh 7vw;
  width: 40%;
}

.flex-box_3 h3{
  width: fit-content;
  margin: 1vh auto 3vh;
}

.flex-box_3 p{
  width: fit-content;
  margin: 0 auto 3vh;
}

.flex-box_3 button{
  margin: 3vh 0 4vh 2.5vw;
  height: 6vh;
  width: 80%;
  background: hsl(231, 69%, 60%);
  border: none;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}

.flex-box_3 button:hover{
  background: hsl(0, 0%, 100%);
  border: 2px solid hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
  font-weight: bold;
  cursor: pointer;
}

.holder-3 h1{
  width: fit-content;
  margin: 0 auto 4vh;
}

.p-p{
  width: 35%;
  line-height: 150%;
  text-align: center;
  color: hsl(229, 8%, 60%);
  margin: 0 auto 8vh;
}

.arrows{
  position: absolute;
  left: 35vw;
  top: 2.5vh;
  transition: 0.5s;
}

.arrows:hover{
  transform: rotate(180deg);
}

.first-question{
  position: relative;
  border-top: 1px solid hsla(229, 79%, 78%, 0.524);
  border-bottom: 1px solid hsla(229, 79%, 78%, 0.524);
  width: 40%;
  margin: 2vh auto 0;
}

.first-question .collapsible{
  margin: 1vh 0;
  width: 100%;
  height: 5vh;
  text-align: justify;
  font-size: 1.2rem;
  background: none;
  color: hsl(0, 0%, 0%);
}

.first-question .collapsible:hover{
  cursor: pointer;
  color: hsl(0, 94%, 66%);
}

.second-question{
  position: relative;
  border-top: 1px solid transparent;
  border-bottom: 1px solid hsla(229, 79%, 78%, 0.524);
  width: 40%;
  margin: 0 auto 0;
}

.second-question .collapsible{
  margin: 1vh 0;
  width: 100%;
  height: 5vh;
  text-align: justify;
  font-size: 1.2rem;
  background: none;
  color: hsl(0, 0%, 0%);
}

.second-question .collapsible:hover{
  cursor: pointer;
  color: hsl(0, 94%, 66%);
}

.third-question{
  position: relative;
  border-top: 1px solid transparent;
  border-bottom: 1px solid hsla(229, 79%, 78%, 0.524);
  width: 40%;
  margin: 0 auto 0;
}

.third-question .collapsible{
  margin: 1vh 0;
  width: 100%;
  height: 5vh;
  text-align: justify;
  font-size: 1.2rem;
  background: none;
  color: hsl(0, 0%, 0%);
}

.third-question .collapsible:hover{
  cursor: pointer;
  color: hsl(0, 94%, 66%);
}

.fourth-question{
  position: relative;
  border-top: 1px solid transparent;
  border-bottom: 1px solid hsla(229, 79%, 78%, 0.524);
  width: 40%;
  margin: 0 auto 0;
}

.fourth-question .collapsible{
  margin: 1vh 0;
  width: 100%;
  height: 5vh;
  text-align: justify;
  font-size: 1.2rem;
  background: none;
  color: hsl(0, 0%, 0%);
}

.fourth-question .collapsible:hover{
  cursor: pointer;
  color: hsl(0, 94%, 66%);
}

.collapes-content{
  margin: 5vh auto 3vh;
  line-height: 180%;
  display: none;
}

.holder-3 button{
  width: 7%;
  height: 7vh;
  margin: 6vh 45vw;
  background-color: hsl(231, 69%, 60%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 3px;
}

.contact-holder{
  background-color: hsl(231, 69%, 60%);
  margin: 10vh auto 0;
}

.contact-holder p{
  color: hsl(0, 0%, 100%);
  width: fit-content;
  margin: 0 auto 4vh;
  padding: 6vh 0 0 0;
  word-spacing: 0.1rem;
}

.contact-holder h2{
  color: hsl(0, 0%, 100%);
  width: 32%;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  margin: 1vh auto;
}

.my-form input[type="text"]{
  width: 22%;
  height: 7vh;
  border-radius: 4px;
  border: none;
  margin: 6vh 0 10vh 34vw;
  padding: 0 0 0 1vw;
  font-weight: 600;
}

.my-form input::placeholder{
  color: hsla(229, 79%, 78%);
}

.contact-us_btn{
  background-color: hsl(0, 94%, 66%);
  color: hsl(0, 0%, 100%);
  height: 7vh;
  width: 10%;
  border-radius: 4px;
  border: none;
  margin: 0 0 0 1vw;
  font-weight: 600;
}

.contact-us_btn:hover{
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 94%, 66%);
  border: 2px solid hsl(0, 94%, 66%);
  cursor: pointer;
}

.footer{
  background-color: hsl(229, 31%, 21%);
}

.footer-logo{
  width: 10%;
  margin: 3.5vh 6vw;
}

.footer-item_box{
  display: flex;
}

.footer-list ul{
  display: flex;
  list-style: none;
  margin: 3.8vh 1vw 2vh;
}

.footer-list ul li{
  padding: 0 0 0 2vw;
  color: hsl(0, 0%, 100%);
  font-size: 0.9rem;
}

.footer-list ul li:hover{
  color: hsl(0, 94%, 66%);
  cursor: pointer;
}

.footer-icons ul{
  display: flex;
  list-style: none;
  margin: 3vh 0 3vh 35vw;
}

.footer-icons ul li{
  padding: 0 0 0 2vw;
}

.footer-icons ul li:hover{
  filter: invert(71%) sepia(39%) saturate(6840%) hue-rotate(322deg) brightness(93%) contrast(110%);
  cursor: pointer;
}