@media (max-width: 500px){
  .logo-div{
    width: 25%;
  }

  .nav-bar{
    display: none;
  }

  .hambuger-menu{
    display: block;
    width: 5%;
    margin: 4.5vh 0 0 50vw;
  }

  .holder-1{
    display: block;
  }

  .mockup-1{
    display: none;
  }

  .mockup-1_1{
    display: block;
    margin: -6vh auto 6vh;
    width: 100%;
  }

  .hero-img1_1{
    width: 80%;
    margin: 2vh 0 0 10vw;
  }

  .blue-bar{
    height: 40vh;
    margin: -39vh 0 0 25.1vw;
  }

  .writeup1{
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 95%;
  }

  .writeup1 h1{
    width: 60%;
    margin: 2vh auto 0;
    font-size: 6vw;
    text-align: center;
  }

  .writeup1 p{
    width: 70%;
    margin: 2vh auto 8vh;
    font-size: 3.5vw;
    text-align: center;
  }

  .chrome-btn{
    margin: 0 0 0 15vw;
    width: 33%;
    height: 8vh;
    font-size: 2.8vw;
    text-align: center;
  }

  .firefox-btn{
    margin: 0 0 0 5vw;
    width: 33%;
    height: 8vh;
    font-size: 2.8vw;
    text-align: center;
    color: hsl(228, 4%, 53%);
  }
}